.container-fluid {
    display: grid;
    gap: 0px;
  
    .main-head {
      grid-area: header;
    }
  
    .content {
      background-color: #f9f9f9;
      height: calc(100vh - 64px);
      grid-area: content;
      padding: 0 20px 0 0;
    }
  
    .main-nav {
      height: calc(100vh - 67px);
      grid-area: nav;
    }
  }