<body>
    <div class="container d-flex justify-content-center align-items-center vh-100 background-image">
        <div class="card text-center">
            <div class="card-header">
                <h3>Sistema Incubadora del NOC - Gestión de Cursos</h3>
            </div>
            <div class="card-body">
                <h5 class="card-title text-center mb-4">Iniciar Sesión para Continuar.</h5>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label d-flex justify-content-start align-items-start">Correo</label>
                    <input type="email" class="form-control" placeholder="Ingresa tu correo electrónico">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label d-flex justify-content-start align-items-start">Contraseña</label>
                    <input type="password" class="form-control" placeholder="Ingresa tu contraseña">
                </div>
                <div class="text-center">
                    <a routerLink="/home" class="btn btn-primary btn-md btn-block">Iniciar Sesion</a>
                </div>
                <div class="d-flex flex-column justify-content-end align-items-end mt-3">
                    <a routerLink="/register" class="small">¿No tienes cuenta aún?</a>
                </div>
                <div class="d-flex flex-column justify-content-end align-items-end">
                    <a routerLink="/register" class="small">¿Olvidaste tu contraseña?</a>
                </div>
            </div>
            <div class="card-footer text-muted d-flex justify-content-start align-items-start">
                Santex Group  
            </div>
        </div>
    </div>
</body>
