.container {
  background-image: url("https://previews.123rf.com/images/kostafly/kostafly1710/kostafly171000043/87403779-el-fondo-creativo-hermoso-fondo-para-un-sitio-o-formulario-consiste-en-formas-y-l%C3%ADneas-fant%C3%A1sticas.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: rgb(255, 255, 255);
  border: none;
  height: 50vh;
  width: 70vh;
}
.card-body form {
  display: flex;
  flex-direction: column;
}
