<body>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h3>Sistema Incubadora del NOC - Gestión de Cursos</h3>
      </div>
      <div class="card-body">
        <h5 class="mat-h4">Iniciar Sesión para Continuar.</h5>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <mat-form-field appearance="outline" color="primary">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              id="email"
              formControlName="email"
              placeholder="Ingresa tu correo electrónico"
              required
            />
          </mat-form-field>
          <mat-error *ngIf="invalidEmail">
            Verifique que el correo electrónico ingresado sea correcto
          </mat-error>
          <mat-form-field appearance="outline" color="primary">
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              autocomplete="off"
              type="password"
              id="password"
              formControlName="pass"
              placeholder="Ingresa tu contraseña"
              required
            />
          </mat-form-field>
          <mat-error *ngIf="invalidPassword">Ingrese su contraseña</mat-error>
          <div>
            <button mat-raised-button color="primary" type="submit" class="btn-primary">
              <div>
                <span>Iniciar Sesión</span>
              </div>
            </button>
          </div>
        </form>

        <div class="d-flex flex-column justify-content-end align-items-end mt-3">
          <a routerLink="/auth/register" class="small">¿No tienes cuenta aún?</a>
        </div>
      </div>
      <div
        class="card-footer text-muted d-flex justify-content-start align-items-start"
      >
        Santex Group
      </div>
    </div>
  </div>
</body>

